// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (C) 2021 STMicroelectronics
 * Author: Alain Volmat <avolmat@me.com>
 */
/dts-v1/;
#include "stih418.dtsi"
#include <dt-bindings/gpio/gpio.h>
/ {
	model = "STiH418 B2264";
	compatible = "st,stih418-b2264", "st,stih418";

	chosen {
		stdout-path = &sbc_serial0;
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x40000000 0xc0000000>;
	};

	cpus {
		cpu@0 {
			operating-points-v2 = <&cpu_opp_table>;
			/* u-boot puts hpen in SBC dmem at 0xb8 offset */
			cpu-release-addr = <0x94100b8>;
		};
		cpu@1 {
			operating-points-v2 = <&cpu_opp_table>;
			/* u-boot puts hpen in SBC dmem at 0xb8 offset */
			cpu-release-addr = <0x94100b8>;
		};
		cpu@2 {
			operating-points-v2 = <&cpu_opp_table>;
			/* u-boot puts hpen in SBC dmem at 0xb8 offset */
			cpu-release-addr = <0x94100b8>;
		};
		cpu@3 {
			operating-points-v2 = <&cpu_opp_table>;
			/* u-boot puts hpen in SBC dmem at 0xb8 offset */
			cpu-release-addr = <0x94100b8>;
		};
	};

	cpu_opp_table: opp-table {
		compatible = "operating-points-v2";
		opp-shared;

		opp00 {
			opp-hz = /bits/ 64 <300000000>;
			opp-microvolt = <784000>;
		};
		opp01 {
			opp-hz = /bits/ 64 <500000000>;
			opp-microvolt = <784000>;
		};
		opp02 {
			opp-hz = /bits/ 64 <800000000>;
			opp-microvolt = <784000>;
		};
		opp03 {
			opp-hz = /bits/ 64 <1200000000>;
			opp-microvolt = <784000>;
		};
	};

	aliases {
		serial0 = &sbc_serial0;
		serial1 = &sbc_serial1;
		ethernet0 = &ethernet0;
	};

	sound: sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "STI-B2264";
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;

		simple-audio-card,dai-link@0 {
			reg = <0>;
			/* DAC */
			format = "i2s";
			mclk-fs = <256>;
			frame-inversion;
			cpu {
				sound-dai = <&sti_uni_player2>;
			};

			codec {
				sound-dai = <&sti_sasg_codec 1>;
			};
		};
	};

	leds {
		compatible = "gpio-leds";
		led-green {
			gpios = <&pio1 3 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
	};

	soc {
		pin-controller-sbc@961f080 {
			gmac1 {
				rgmii1-0 {
					st,pins {
						rxd0 = <&pio1 4 ALT1 IN DE_IO 300 CLK_A>;
						rxd1 = <&pio1 5 ALT1 IN DE_IO 300 CLK_A>;
						rxd2 = <&pio1 6 ALT1 IN DE_IO 300 CLK_A>;
						rxd3 = <&pio1 7 ALT1 IN DE_IO 300 CLK_A>;
						rxdv = <&pio2 0 ALT1 IN DE_IO 300 CLK_A>;
					};
				};
			};
		};

		hdmiddc: i2c@9541000 {
			/* HDMI V1.3a supports Standard mode only */
			clock-frequency = <100000>;
			st,i2c-min-scl-pulse-width-us = <0>;
			st,i2c-min-sda-pulse-width-us = <5>;

			status = "okay";
		};
	};
};

&ehci0 {
	status = "okay";
};

&ethernet0 {
	phy-mode = "rgmii";
	pinctrl-0 = <&pinctrl_rgmii1 &pinctrl_rgmii1_mdio_1>;
	st,tx-retime-src = "clkgen";

	snps,reset-gpio = <&pio0 7 0>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 10000 1000000>;

	status = "okay";
};

&miphy28lp_phy {
	phy_port0: port@9b22000 {
		st,sata-gen = <2>; /* SATA GEN3 */
		st,osc-rdy;
	};
	phy_port1: port@9b2a000 {
		st,osc-force-ext;
	};
};

&vqmmc_reg {
	status = "okay";
};

&mmc0 {
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&pcie1 {
	reset-gpios = <&pio34 5 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&pwm1 {
	status = "okay";
};

&sata0 {
	status = "okay";
};

&sbc_serial0 {
	status = "okay";
};

&sbc_serial1 {
	status = "okay";
};

&spifsm {
	status = "okay";
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		partition@0 {
			label = "PBL"; /* 768Ko */
			reg = < 0x0 0xc0000 >;
			read-only;
		};

		partition@1 {
			label = "u-boot-env"; /* 64Ko */
			reg = < 0xc0000 0x10000 >;
		};

		partition@2 {
			label = "mac-address-eth0"; /* 192Ko */
			reg = < 0xd0000 0x30000 >;
			read-only;
		};

		partition@3 {
			label = "FIT"; /* 31 Mo */
			reg = < 0x100000 0x1F00000 >;
		};
	};
};

&st_dwc3 {
	status = "okay";
};

&sti_compo {
	status = "okay";
};

&sti_tvout {
	status = "okay";
};

&sti_hdmi {
	ddc = <&hdmiddc>;

	status = "okay";
};

&vtg_main {
	status = "okay";
};

&vtg_aux {
	status = "okay";
};

&gpu {
	status = "okay";
};

&sti_uni_player2 {
	status = "okay";
};

&sti_sasg_codec {
	status = "okay";
};
